<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MySuite">
  <test name="Warning Page Validation Test">
    <classes>
      <class name="TestFile.Test1_regionwarningTest"/>
      </classes>
  </test>
  
  <test name="Login Validation Test">
    <classes>
      <class name="TestFile.Test2_loginTest"/>
      </classes>
  </test>
  
  <test name="PostLogin Validation Test">
    <classes>
      <class name="TestFile.Test3_postloginTest"/>
      </classes>
  </test>
  

  <test name="Full Name Update Validation Test">
    <classes>
      <class name="TestFile.Test4_profileTest"/>
      </classes>
  </test>
 
  <test name="Credentials update Validation Test">
    <classes>
      <class name="TestFile.Test5_passwordupdateTest"/>
      </classes>
  </test>
  
  <test name="Invalid Login Validation Test">
    <classes>
      <class name="TestFile.Test6_negativeloginTest"/>
      </classes>
  </test>
</suite>
